{% extends 'base.html' %}

<style>
    body {
        background-image: url('poem-background.png');
    }
</style>

<div class='row align-items-center'>
    <div class="col col-lg-2">
    </div>
    <div id='title_holder' class="">
        <h1 class='align-middle brownColor text-center cyrillicStyle'>Robot serbian epic poem writer</h3>
        <h4 class='text-center lightColor cyrillicStyle'>What would happen if we revived a sebian epic poem writer in a horrible robot body? <a href="/sepRandom" target="_blank">probably this</a></p>
        <button href='www.google.com'>
            The Bard is back
        </button>
    </div>
    <div class="col col-lg-2">
    </div>
</div>
